{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id", "_url"
        ]
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
  }