

.page404__button {
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
    width: 220px;
    line-height: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    display: block;
    transition: all 0.4s;
    font-size: 15px;
    outline: none;
}

.page404__button:hover {
    background-color: white;
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



