.header__email {
    margin:0 24px 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 525px)  {
    .header__email {
        margin: 0 0 18px 0;
    }
}