.page404__coub-wrap {
    display: block;
    margin-bottom: 120px;
    width:100%;
    height:360px;
    padding-bottom: calc(360 * 100% / 640);
    position: relative;
    box-sizing: border-box;
    max-width: 690px;
}


