@import url(./__logo/header__logo.css);
@import url(./__account-info/header__account-info.css);
@import url(./__button-auth/header__button-auth.css);
@import url(./__container/header__container.css);
@import url(./__email/header__email.css);
@import url(./__login-container/header__login-container.css);

.header {
    max-width: 882px;
    width: 68.89%;
    display: flex;
    align-items: center;
    margin-top: 45px;
    position: relative;
    transition: ease all .5s;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 40px;
    box-sizing: border-box;
    flex-direction: column;
}


@media screen and (max-width: 842px) {
    .header {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 28px;
    }
}